.main {
  /* background-color: orange; */
  display: grid;
  grid-area: main;
  /* display: grid;
   grid-template-columns: 1fr minmax(auto, 940px) 1fr; */
}

.about {
  padding: 81px 30px 76px;
  background: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 940px) 1fr;
}
.about__body {
  grid-column: 2 / 3;
  display: grid;
  justify-content: center;
}
.about__name {
  text-align: center;
  margin-bottom: 18px;
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: 42px;
}
.about__text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.about__text:nth-child(3) {
  margin: 48px 0 46px;
}

.skills {
  padding: 83px 0 0px;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 940px) 1fr;
}
.skills__title {
  text-align: center;
  grid-column: 2 / 3;
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: 42px;
}
.skills__text {
  margin: 50px 0 71px;
  text-align: center;
  grid-column: 2 / 3;
  font-size: 18px;
  line-height: 22px;
}
.skills__columns {
  grid-column: 2 / 3;
}
.skills__column {
  text-align: center;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}
.skills__item {
}
.skills__name {
  margin: 28px 0 40px;
}
.skills__stars {
  margin-bottom: 81px;
}

.star {
  margin-bottom: 99px;
}

.portfolio {
  padding: 81px 30px 81px 30px;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 940px) 1fr;
  text-align: center;
}
.portfolio__title {
  margin-bottom: 65px;
  grid-column: 2 / 3;
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: 42px;
}
.portfolio__image {
  grid-column: 2 / 3;
}
.portfolio__image img {
  width: 100%;
  height: auto;
}

.portfolio__text {
  margin: 35px 0 78px;
  grid-column: 2 / 3;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
}
.portfolio__text:last-child {
  margin-bottom: 0;
}
.portfolio__text a {
  color: #070707;
}

@media (min-width: 425px) {
  .about {
    padding: 120px 0 107px;
  }

  .about__text:nth-child(3) {
    margin: 52px 0;
  }

  .skills {
    padding: 91px 0 110px;
  }
  .skills__stars {
    margin-bottom: 0;
  }

  .star {
    margin-bottom: 0;
  }
  .skills__text {
    margin: 69px 0 83px;
  }
  .skills__columns {
    grid-column: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  .skills__column {
    text-align: center;
    display: grid;
    grid-template: auto 1fr auto / 1fr;
  }

  .portfolio {
    padding: 113px 0 96px 0;
  }

  .portfolio__text {
    margin: 43px 0 99px;
  }
  .portfolio__title {
    margin-bottom: 47px;
  }
}
