@import url(/css/header.css);
@import url(/css/main.css);
@import url(/css/footer.css);

html {
  scroll-behavior: smooth; /*плавная прокрутка*/
}

.wrapper {
  height: 100%;
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #070707;
  display: grid;
  grid-template: minmax(auto, 768px) 1fr minmax(auto, 622px) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
